// src/styles/_colors.scss

$primary-color: #1a73e8;
$secondary-color: #ff5722;
$background-color: #f4f6f8;
$text-color: #333;
$text-light-color: #666;

$success-color: #4caf50;
$warning-color: #ff9800;
$error-color: #f44336;

// Za lakše nijansiranje boja
$primary-light: lighten($primary-color, 10%);
$primary-dark: darken($primary-color, 10%);
